body {
	background: url("/img/stripe.png");
	padding: 0;
	margin: 0;
}

/** Main layout / design **/

* {
	font-family: sans-serif;
}
#wrapper {
	background: #FFFFFF;
	margin: 0;
}

#logo {
	background: url("/img/header.png") repeat-x;
	height: 80px;
	padding: 10px 20px 10px;
}

h1 {
	float: left;
	margin: 10px 0 0 0;
}

#badge {
	background: url("/img/beta.png");
	float: right;
	height: 120px;
	width: 120px;
	z-index: 100;
}

#navbar {
	background: url("/img/navbg.png") repeat-x;
	height: 30px;
	padding: 2px;
}

#nav {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
}

#nav a {
	color: #000000;
	text-decoration: none;
	margin-right: 20px;
	padding: 2px;
}

#nav a:hover {
	background: url("/img/nav-link-bg.png") repeat-x;
}

#search {
	float: right;
}

#q {
	background: url("/img/icons/magnifier.png") no-repeat left center #FFFFFF;
	line-height: 16px;
	padding-left: 20px;
}

.s-inactive {
	color: #CCCCCC;
}

#content {
	margin: 10px;
}

#sidebar {
	float: right;
	width: 200px;
}

#sidebar li {
	list-style: none;
}

#footer {
	clear: both;
	font-size: smaller;
	text-align: center;
}

#trans {
	background: url("/img/trans.png") repeat-x;
	height: 30px;
	margin-top: -13px;
}

#flash {
	background: #CDEB8B;
	border: solid 3px #008C00;
	display: none;
	text-align: center;
	padding: 3px;
}

#flash:hover {
	background: #D8F892;
}
/** Quote box **/

.quotebox {
	clear: both;
	margin-top: 10px;
}
.rating {
	float: left;
	width: 80px;
	margin-top: 5px;
}

.rating p {
	margin: 0 auto;
}

.rb {
	height: 16px;
	width: 16px;
}

.rn {
	height: 1.2em;
}

.u {
	background: url("/img/go-up-fade.png") no-repeat;
}

.u:hover {
	background: url("/img/go-up.png") no-repeat;
}

.uu {
	background: url("/img/go-up-red.png") no-repeat !important;
}

.u {
	background: url("/img/go-up-fade.png") no-repeat;
}

.d {
	background: url("/img/go-down-fade.png") no-repeat;
}

.d:hover {
	background: url("/img/go-down.png") no-repeat;
}

.du {
	background: url("/img/go-down-red.png") no-repeat !important;
}

.rn {
	text-align: center;
}

.quote {
	margin-left: 80px;
}

.quote p {
	font-family: monospace;
	font-size: small;
	margin: 0;
}

.tags {
	background: url("/img/icons/tag_blue.png") no-repeat left center;
	padding-left: 20px;
}

.tags a {
	border-bottom: dashed 2px #CDEB8B;
	color: #008C00;
	font-size: small;
	text-decoration: none;
}

.delete {
	background: url("/img/icons/delete.png") center;
	width: 16px;
	height: 16px;
	margin: 5px auto !important;
}

.report {
	background: url("/img/icons/exclamation.png") center;
	width: 16px;
	height: 16px;
	margin: 5px auto !important;
}

#footer p {
	margin: 0;
}

/** Text styles **/

h2 {
	color: #000000;
}

#newquote {
	margin: auto;
	width: 400px;
}

#tag-inp {
	background: url("/img/icons/tag_blue_add.png") no-repeat center left;
	padding-left: 20px;
	width: 75%;
}

#quote-submit {
	margin-left: 3%;
	width: 15%;
}

legend {
	color: #008C00;
}

.small-text {
	font-size: x-small;
}

#nav-next {
	clear: both;
	display: block;
	text-align: center;
}

/** User list **/
#ut {
	margin: auto;
	width: 60%;
}

#ut thead {
	background: #356AA0;
}

#ut tbody {
	border: 1px solid #4096EE;
}

#ut td {
	padding: 2px;
}

#ut tr:target {
	background: #4096EE !important;
}

.c1 {

}

.c2 {
	background-color: #C3D9FF;
}

#rl {
	list-style: none;
	margin: auto;
	width: 80%;
}
